{% extends 'base.html' %}

{% block content %}

    {% if request.user.is_staff %}

    {% endif %}

    <div class="d-flex">
        <div class="mr-auto p-2"><h2>Convenzioni</h2></div>
        <div class="p-2"><form action=""> <button type="submit" class="btn btn-outline-dark"><i class="fas fa-plus"></i> Aggiungi</button></form></div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="text-center">
                <tr>
                  <th scope="col">Studente</th>
                  <th scope="col">Ditta</th>
                  <th scope="col">Data di stipula</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for convention in list %}
                    <tr>
                      <td><a href="{{ convention.get_absolute_url }}">{{ convention.student }}</a></td>
                      <td>{{ convention.company }}</td>
                      <td>{{ convention.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock content %}




<!--                        <img src="{{ sezione.logo_sezione.url }}" style="max-width:100%">-->