{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row mt-5 text-info">
        <div class="col-3 text-center">
            <span class="fa-stack fa-4x text-danger">
                <i class="fas fa-minus-circle fa-stack-2x"></i>
            </span>
        </div>
        <div class="col">
            <h2>OPSYYY!</h2>
            <p>Sembra che tu non abbia l'autorizzazione per accedere a questi contenuti!</p>
            <p>Chiedi all'amministratore di sistema di attivarli per il tuo account</p>
        </div>
    </div>
{% endblock content %}
