{% extends 'base.html' %}

{% block content %}
    <div class="row mt-5">
        <div class="col-3 text-center text-warning">
            <i class="fad fa-key fa-5x"></i>
        </div>
        <div class="col">
            <h1 class="text-info">Non hai accesso alla pagina</h1>
            <p>Non hai l'autorizzaziona ad accedere a questa pagina!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-center text-warning">
            <h1 class="">#403</h1>
        </div>
    <div class="col">

    </div>
    </div>



{% endblock content %}