{% extends 'base.html' %}

{% block content %}
    <div class="row mt-5">
        <div class="col-3 text-center text-warning">
            <i class="fal fa-exclamation-triangle fa-5x"></i>
        </div>
        <div class="col">
            <h1 class="text-info">La pagina non esiste!</h1>
            <p>Riprova, se l'errore rimane contatta Andrea...</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-center text-warning">
            <h1 class="">#404</h1>
        </div>
    <div class="col">

    </div>
    </div>



{% endblock content %}