<div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="text-center">
                <tr>
                    <!--<th scope="col">Elimina</th>
                    <th scope="col">Dettagli</th>-->
                    <th scope="col">Tipo</th>
                    <th scope="col">Quantità</th>
                    <th scope="col">Data</th>
                </tr>
            </thead>
                {% include 'warehouse/include/display_movements_list.html' %}
        </table>
    </div>