{% load crispy_forms_tags %}

<form class="form p-3 m-2" hx-post="{% url 'lesson-schedule' course %}" hx-target="#replaceMe" hx-swap="outerHTML">
    {% for key, error_list in request.session.schedule_form_error.items %}
        <div class="alert alert-danger" role="alert">
            {% for error in error_list %}
                {{error}}
            {% endfor %}
        </div>
    {% endfor %}
    {% csrf_token %}
    {{ form|as_crispy_errors }}

            <div class="d-flex">
                <div class="mr-2">
                    {{ form.teacher|as_crispy_field }}
                </div>
                <div class="mr-2">
                    {{ form.training_unit|as_crispy_field }}
                </div>
                <div class="mr-2">
                    {{ form.attendance_date|as_crispy_field }}
                </div>
                <button style="height: 55px; width: 55px" class="btn btn-lg btn-outline-dark rounded-circle ml-3 mt-3"><i class="fal my-0 py-0 fa-save"></i></button>

            </div>


</form>
