<div id="replaceMe" class="col">
<div class="card rounded-0 border-top-0 mt-0">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h4 class="card-title pt-2">
                Lezioni programmate per il {{ user_data.secretary_data.lessons_date }}
            </h4>
            <h4><a href="{% url 'lesson-done-list' %}"> <i class="fal fa-2x fa-list-alt mr-auto text-info"></i></a></h4>
        </div>
        <h5 class="card-subtitle mb-2 text-muted">Conferma se sono state svolte o cancellale</h5>
        <div class="d-flex mb-3">
            <button onclick="window.location.href='{% url 'validate-custom-lesson' %}'"
                    type="submit"
                    class="btn btn-outline-dark rounded-0">
                Valida una lezione fuori orario
            </button>
        </div>
        <p class="card-text">
        {% if user_data.secretary_data.action == 'validate' %}
            <div class="alert alert-success rounded-0" role="alert">
                {{ user_data.secretary_data.message }}
            </div>
        {% elif user_data.secretary_data.action == 'delete' %}
            <div class="alert alert-danger rounded-0" role="alert">
                {{ user_data.secretary_data.message }}
            </div>
        {% endif %}
            {% for lesson in user_data.secretary_data.lessons %}
                {% ifchanged %}
                    <h5 class="mt-3 pt-3 border-top"> <strong>{{ lesson.training_unit.course }}</strong></h5>
                {% endifchanged %}
                <div class="row my-1 py-0">
                    <div class="col d-flex">
                        UF{{ lesson.training_unit.code }} {{ lesson.training_unit.name }} -
                        {{ lesson.training_unit.contract_related_unit.get.employee.name }}
                        {{ lesson.training_unit.contract_related_unit.get.employee.surname }}
                        ({{ lesson.get_hour_display }})
                        <div class="d-inline mx-2"
                             hx-post="{% url 'new-lesson-validate-index' lesson.pk %}"
                             hx-swap="outerHTML"
                             hx-target="#replaceMe">
                            <i style="cursor: pointer" class="fal fa-check-circle text-success"></i>
                        </div>
                        <div class="d-inline"
                                hx-delete="{% url 'new-lesson-delete-index' lesson.pk %}"
                                hx-swap="outerHTML"
                                hx-target="#replaceMe">
                            <i style="cursor: pointer" class="fal fa-times-circle text-danger"></i>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </p>
    </div>
</div>
</div>
